.heading{
    color: aqua;
    background: #000;
    font-size: 30px;
    font-style:inherit;
}
.paragraph{
    font-size: 15px;
    font-style: italic;
}
#contact{
    font-family: 'Times New Roman', Times, serif;
}
